html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #ffffff;
  background: #191c1f;
  --color-primary: #fada3f;
  --color-secondary: #ff2136;
  --color-tertiary: #0294fe;
  --color-quaternary: #9b4dff;
  --card-background: #252133;
  --highlighted-background: #202326;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='file'] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.mint-button {
  padding: 0.5rem 1rem;
  background-color: #f50057;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.nftBoxGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nftBox {
  width: 330px;
  height: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5rem;
}

.nftMedia {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

h3 {
  margin: 0.5rem 0;
}

p {
  margin: 0;
}
